*{
    font-family: 'Open Sans', sans-serif;
}

/* Top right text */

.top-right {
    position: absolute;
    top: 130px;
    left: 500px;
     right: 300px;}
     
     .first-text{
        font-size: 30px;
     }
     .first-para{
        color: #666161;
     }
    
  
  /*.word-one{
    margin-right: 188px;
  }
  .word-two{
      margin-right: 100px;
  }*/ 
  
  .btn-primary{
        height: 65px;
        border-radius: 5px;
        background-color: #FD6E0A;
        color: #ffffff;
        border: none;
        font-weight: 700px;
        font-size: 20px;
        padding: 18px 35px;
  }
  /*failures section*/
  .failures-text{
    font-size: 35px;
    font-weight: 500px;
    margin-left: 45px;
  }
  .failures-para{
    color: #312e2ec2;
    margin-left: 45px;
  }
  ul{
    list-style: none;
    color: #312e2ec2;

    
  }
  ul li:before {
    content: '✓';
    color: rgba(27, 180, 27, 0.863);
    line-height: 2.5;

  }
  
  .failures{
    display: flex;
  }
  .blog{
    padding-top: 200px;
    padding-left: 100px;

  }
  .plan-container{
    margin-top: 200px;
  }
  .plan{
    
    font-size: 38px;
    font-weight: bolder;  
    text-align: center;
  }
  
  .opt-description{
    color: #666161;
  }
  .option{
    display: flex;
    justify-content: space-evenly;
  }
    .image{
      background: url(images/watch.png);
      background-repeat: no-repeat;
      color: #faf7f5;
      position: relative;
      height: 400px;
      
    }
    /*.over-lay{
      background: linear-gradient(to top-right white, rgba(255,),orangered, rgba)
      
    
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }*/
    
    .image{
      margin-top: 120px;
      
    }
     .image-title{
          font-size: 40px;
          padding-left: 55px;
          padding-top: 50px;
     }
     .button-two{
      height: 64px;
    border-radius: 5px;
    background: #ece8e4;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    margin-left: 55px;
     }
     .button{
      height: 64px;
    border-radius: 5px;
    background: #ece8e4;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    
    margin-top: 28px;
    
 
     }
     .footer-title{
      font-size: 45px;
      font-weight: bold;
      color: white;
     }
     /*.footer.first-div{
           margin-left: 0px;
     }*/
     .footer-para{
      color: white;
      
     }
     .h3-title{
      color: white;
      font-size: 25px;
      margin-top: 30px;
     }
     .email{
      width: 100%;
      padding:22px 0px;
      border-radius: 7px;
      color: white;
      background-color: black;
      margin-top: 8px;
      border-width: 2px;
      border-color: #ffffff;
     }
     input::placeholder {
    font-size: 18px;
     color: #ffffff;
    }
       

     .scnd-div{
          margin-top: 30px;
     }
     .footer{
      display: flex;
      justify-content: space-around;
      background-color: black;


     }

       .first-div{
        text-align: left;
       }



